 .radio-button{
    width: fit-content;
    border: 1px solid #666;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    margin:10px;
}
.radio-button input{ display: none; }
.radio-button label{
    font-family: sans-serif;
    padding: 10px 16px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom:0;
}
.radio-button label:last-of-type{ border-right: 0; }
.radio-button label:hover{
    background: #eee;
}
.radio-button input:checked + label{
    background: #becbff;
}