
<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<div class="panel panel-default">
				<div class="panel-heading">Người dùng</div>
				<div class="panel-body mt-3">
					<div class="row">
						<div class="col-sm-4 text-center">
							<label for="image"> <img class="" ng-src="{{form.image}}"
								style="max-width: 80%; height: 310px">
							</label>
						</div>

						<div class="col-sm-8">
							<div class="row">
								<div class="form-group col-sm-6">
									<div>Họ và tên</div>
									<input ng-model="form.fullName" id="fullNameForm"
										placeholder="Nhập Họ và Tên..." class="form-control">
									<div id="fullNameFormError" class="text-danger"></div>
								</div>
								<div class="form-group col-sm-6">
									<div>Giới tính</div>
									<div class="form mt-3"
										style="display: flex; flex-direction: row;">
										<label class="radio-inline ml-1"> <input
											ng-model="form.gender" id="genderCheck" ng-value="1"
											name="gender" type="radio"> Nam
										</label> <label class="radio-inline ml-1"> <input
											ng-model="form.gender" id="genderCheck" ng-value="0"
											name="gender" type="radio"> Nữ
										</label> <label class="radio-inline ml-1"> <input
											ng-model="form.gender" id="genderCheck" ng-value="2"
											name="gender" type="radio"> Khác
										</label>
									</div>
									<div id="genderCheckError" class="text-danger"></div>
								</div>

							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<div>Ảnh</div>
									<input type="file" class="form-control" id="image"
										onchange="angular.element(this).scope().imageChanged(this.files)">
								</div>
								<div class="form-group col-sm-6">
									<div>Email</div>
									<input ng-model="form.email" id="emailForm" type="email" placeholder="Nhập Email...."
										class="form-control">
									<div id="emailFormError" class="text-danger"></div>
								</div>
								<div class="form-group col-sm-6">
									<div>Số điện thoại</div>
									<input ng-model="form.phone" id="phoneForm"
										placeholder="Nhập Số điện thoại..." type="text"
										class="form-control">
										<div id="phoneFormError" class="text-danger"></div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6">
									<div>Ngày tạo</div>
									<input ng-model="form.date_insert" type="date"
										class="form-control">

								</div>
								<div class="form-group col-sm-6">
									<div>Ngày cập nhật</div>
									<input ng-model="form.date_update" type="date"
										class="form-control">
								</div>
							</div>
							<div class="row">

								<div class="form-group col-sm-6">
									<div>Trạng thái</div>
									<div class="form mt-1 ml-3">
										<label class="switch"> <input ng-model="form.status"
											ng-value="true" name="available" type="checkbox"> <span
											ng-click="updateStatus(form)" class="slider round"></span>
										</label>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer text-center">
					<button ng-click="create()" ng-disabled="form.id"
						class="btn btn-primary">
						<b class="glyphicon glyphicon-plus"></b> Create
					</button>
					<button ng-click="update()" ng-disabled="!form.id"
						class="btn btn-success">
						<b class="glyphicon glyphicon-save"></b> Update
					</button>
					<button ng-click="reset()" class="btn btn-info">
						<b class="glyphicon glyphicon-refresh"></b> Reset
					</button>
				</div>
			</div>
		</div>
	</div>
</div>