
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">User List</h4>
					<div class="form-group col-sm-6">
						Search: <input ng-model="searchText.$" class="form-control">
					</div>
					<div class="table-responsive">
						<table
							class="table table-striped table-bordered zero-configuration">
							<thead>
								<tr>
									<th>Image</th>
									<th ng-click="toggleSort('fullName')">Fullname
										<span ng-show="isSortedBy('fullName')" ng-class="getSortIconClass('fullName')"></span>
									</th>
									<th ng-click="toggleSort('phone')">Phone
										<span ng-show="isSortedBy('phone')" ng-class="getSortIconClass('phone')"></span>
									</th>
									<th ng-click="toggleSort('email')">Email
										<span ng-show="isSortedBy('email')" ng-class="getSortIconClass('email')"></span>
									</th>
									<th ng-click="toggleSort('gender')">Gender
										<span ng-show="isSortedBy('gender')" ng-class="getSortIconClass('gender')"></span>
									</th >
									<th ng-click="toggleSort('date_insert')">Create Date
										<span ng-show="isSortedBy('date_insert')" ng-class="getSortIconClass('date_insert')"></span>
									</th>
									<th ng-click="toggleSort('date_update')">Update date
										<span ng-show="isSortedBy('date_update')" ng-class="getSortIconClass('date_update')"></span>
									</th>
									<th ng-click="toggleSort('status')">Status
										<span ng-show="isSortedBy('status')" ng-class="getSortIconClass('status')"></span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in pager.items">
									<td><div class="d-flex">
											<img src="/assets/user/user/image/{{item.image}}" alt=""
												style="width: 50px;">
										</div></td>
									<td>{{item.fullName}}</td>
									<td>{{item.phone}}</td>
									<td>{{item.email}}</td>
									<td>{{item.gender ?'Nam':'Nữ'}}</td>

									<td>{{item.date_insert | date : 'dd-MM-yyyy hh:mm'}}</td>
									<td>{{item.date_update | date : 'dd-MM-yyyy hh:mm'}}</td>
									<td><label class="switch"> <input
											ng-model="item.status" ng-value="true" name="available"
											type="checkbox"> <span ng-click="updateStatus(item)" class="slider round"></span>
									</label></td>
									<td><span> <a ng-click="edit(item)"
											data-toggle="tooltip" data-placement="top" title="Edit">
											<span class="fe fe-24 fe-edit-2"></a> </span>
								</tr>


							</tbody>

						</table>

						
					</div>
					<div class="row">
		<div class="col-4"></div>
		<div class="bootstrap-pagination col-4 text-center">
			<nav>
				<ul class="pagination">
					<li class="page-item"><a class="page-link" href=""
						ng-click="pager.first()">First</a></li>
					<li class="page-item"><a class="page-link" href=""
						ng-click="pager.prev()">Previous</a></li>
					<li class="page-item"><a class="page-link" href="">{{pager.page
							+ 1}} of {{pager.count}}</a></li>


					<li class="page-item"><a class="page-link" href=""
						ng-click="pager.next()">Next</a></li>
					<li class="page-item"><a class="page-link" href=""
						ng-click="pager.last()">Last</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-4"></div>
		</div>
				</div>
			</div>
		</div>
	</div>
</div>