<div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">QUẢN LÍ DANH MỤC </span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="#!category-form">Danh mục</a></li>
                            <li><a href="#!category-table">Danh sách danh mục </a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()"
				aria-expanded="false"> <i class="icon-envelope menu-icon"></i> <span
					class="nav-text">QUẢN LÍ SẢN PHẨM</span>
			</a>
				<ul aria-expanded="false">
					<li><a href="#!product">Sản phẩm</a></li>
					<li><a href="#!color">Màu sắc </a></li>
					<li><a href="#!size">Kích thước </a></li>
				</ul></li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">QUẢN LÍ NGƯỜI DÙNG</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="#!user">Danh sách người dùng</a></li>
                             
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">QUẢN LÍ QUYỀN TRUY CẬP</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="#!authority">Danh sách quyền truy cập</a></li>
                             
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">QUẢN LÍ kHUYẾN MÃI</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./email-inbox.html">Màu sắc</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">THỐNG KÊ</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./email-inbox.html">Màu sắc</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
