	<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <form class="form-valide" action="#" method="post" name="sizeForm" novalidate>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Mã kích thước<span class="text-danger">*</span></label>
                                <div class="col-lg-6">
                                    <input ng-model="form.id" type="text" class="form-control" placeholder="Tự động nhập" readonly>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Tên kích thước<span class="text-danger">*</span></label>
                                <div class="col-lg-6">
                                    <input ng-model="form.name" type="text" class="form-control" placeholder="Enter a username.."
       id="sizeName" ng-required="true">

                                   <div id="sizeNameError" class="text-danger"></div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">Available?<span class="text-danger">*</span></label>
                                <div class="col-lg-6">
                                    <label class="switch">
                                        <input ng-model="form.status" ng-true-value="true" ng-false-value="false" name="available" type="checkbox" ng-required="false">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer text-center">
        <button ng-click="create()" class="btn btn-primary" ng-if="!form.id">Create</button>
        <button ng-click="update()" class="btn btn-success" ng-if="form.id" >Update</button>
        <button ng-click="reset(sizeForm)" class="btn btn-info">Reset</button>
    </div>
</div>
<!-- #/ container -->
