<style>
.table thead th {
	color: black;
	font-weight: bold;
}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-md-6 col-xl-2 mb-4">
					<div class="card shadow">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col">
									<div class="text-center">
										<span style="color: black; font-weight: bold">TẤT CẢ ĐƠN HÀNG</span><br>
										<span style="font-weight: bold; font-size: 18px; text-align: center; color: black">
                                {{ quantityAllOrder }}
                            </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-2 mb-4">
					<div class="card shadow">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col">
									<div class="text-center">
										<span style="color: #6c757d; font-weight: bold">CHỜ XÁC NHẬN</span><br>
										<span style="font-weight: bold; font-size: 18px; text-align: center; color: black">
                                {{ pendingConfirmation }}
                            </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-2 mb-4">
					<div class="card shadow">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col">
									<div class="text-center">
										<span style="color: goldenrod; font-weight: bold">CHỜ LẤY HÀNG</span><br>
										<span style="font-weight: bold; font-size: 18px; text-align: center; color: black">
                                		{{ pendingPickup }}
                            		</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-2 mb-4">
					<div class="card shadow">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col">
									<div class="text-center">
										<span style="color: green; font-weight: bold">ĐANG GIAO</span><br>
										<span style="font-weight: bold; font-size: 18px; text-align: center; color: black">
                                {{ inTransit }}
                            </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-2 mb-4">
					<div class="card shadow">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col">
									<div class="text-center">
										<span style="color: green; font-weight: bold">ĐÃ GIAO</span><br>
										<span style="font-weight: bold; font-size: 18px; text-align: center; color: black">
                                {{ delivered }}
                            </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-2 mb-4">
					<div class="card shadow">
						<div class="card-body">
							<div class="row align-items-center">
								<div class="col">
									<div class="text-center">
										<span style="color: red; font-weight: bold">ĐÃ HỦY</span><br>
										<span style="font-weight: bold; font-size: 18px; text-align: center; color: black">
                                {{ canceled }}
                            </span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-8 d-flex">
					<div class="form-group mb-3 mr-4">
						<label>Tìm kiếm</label>
						<input onkeyup="searchIdOrder()" id="search" style="width: 300px" class="form-control"  type="text" placeholder="Tìm kiếm theo mã đơn hàng" >
					</div>
					<div class="form-group mb-3 mr-2">
						<label for="example-date">Từ ngày</label>
						<input  class="form-control" id="start-date" type="date" name="date">
					</div>
					<div class="form-group mb-3 mr-2">
						<label for="example-date">Đến ngày</label>
						<input  class="form-control" id="end-date" type="date" name="date">
					</div>
					<div>
						<label></label>
						<button onclick="buttonFilterByDate()" type="button" class="btn mb-2 btn-primary" style="margin-left: 5px; margin-top: 8px;">Lọc</button>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group mr-3">
						<label for="simple-select2">Lựa chọn</label>
						<select onchange="filterStatusOrder()" class="form-control select2" id="cbb-status">
							<option value="all">Tất cả</option>
							<option value="0">Chờ xác nhận</option>
							<option value="1">Chờ lấy hàng</option>
							<option value="4">Đang giao</option>
							<option value="5">Đã giao</option>
							<option value="2">Đã hủy</option>
						</select>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Quản lý đơn hàng</h4>
					<div class="table-responsive">
						<table
								class="table ">
							<thead>
								<tr>
									<th ng-click="toggleSort('id')">ID Order
									<span
								ng-show="isSortedBy('id')" ng-class="getSortIconClass('id')"></span></th>
									
									<th>Tên người nhận hàng</th>
									<th>Số điện thoại</th>
									<th>Địa chỉ</th>
									<th>Trạng thái</th>
									<th>Hình thức thanh toán</th>
									<th>Lựa chọn</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in pager.listOrders ">
									<td>{{item.id}}</td>
									<td>{{item.nameUser}}</td>
									<td>{{item.phone}}</td>
									<td>{{item.detailAddress}}, {{item.ward}},
										{{item.district}}, {{item.province}}</td>
									<td>
										<span  ng-if="item.status == 0" style="font-weight: bold; color: #6c757d;">CHỜ XÁC NHẬN</span>
										<span  ng-if="item.status == 1" style="color: goldenrod; font-weight: bold">CHỜ LẤY HÀNG</span>
										<span  ng-if="item.status == 2" style="font-weight: bold; color: red;">HỦY</span>
										<span  ng-if="item.status == 4" style="color: #0e3685; font-weight: bold">ĐANG GIAO</span>
										<span  ng-if="item.status == 5" style="color: green; font-weight: bold">ĐÃ GIAO</span>
									</td>
									<td>{{item.payment == 0 ? 'Tiền mặt' : 'Chuyển khoản'}}</td>
									<td><span> <a ng-click="editOrder(item)"
											data-toggle="modal" data-target="#exampleModalCenter"
											title="Edit"> <span class="fe fe-24 fe-edit-2"></a></span> <!--                                    <span class="fe fe-24 fe-delete"></span>-->
								</tr>
							</tbody>
						</table>
						<div class="bootstrap-pagination text-center">
							<nav>
								<ul class="pagination">
									<li class="page-item"><a class="page-link" href=""
										ng-click="pager.first()">First</a></li>
									<li class="page-item"><a class="page-link" href=""
										ng-click="pager.prev()">Previous</a></li>
									<li class="page-item"><a class="page-link" href="">{{pager.page
											+ 1}} of {{pager.count}}</a></li>
									<li class="page-item"><a class="page-link" href=""
										ng-click="pager.next()">Next</a></li>
									<li class="page-item"><a class="page-link" href=""
										ng-click="pager.last()">First</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include="'/assets/admin/order/popup-order.html'"></div>
