<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div class="row  ">
						<div class="form-group col-sm-6">
							<div>Name</div>
							<input ng-model="form.name" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<div>Weight</div>
							<input ng-model="form.weight" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<div>Material</div>
							<input ng-model="form.material" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<div>Technology</div>
							<input ng-model="form.technology" class="form-control">
						</div>
						<div class="form-group col-sm-6">
							<div>Manufacture</div>
							<input ng-model="form.manufacture" class="form-control">
						</div>
						<div class="form-group col-sm-12">
							<div>Description</div>
							<textarea ng-model="form.description" rows="4"
								class="form-control" cols="50"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer text-center">
		<button ng-click="create()" ng-disabled="form.id"
			class="btn btn-primary">Create</button>
		<button ng-click="update()" ng-disabled="!form.id"
			class="btn btn-success">Update</button>
		<button ng-click="delete(form)" ng-disabled="!form.id"
			class="btn btn-danger">Delete</button>
		<button ng-click="reset()" class="btn btn-info">Reset</button>
	</div>
</div>