<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/index :: dynamic (~{::main})}">


<main th:object="${item}">
	<!-- breadcrumb start-->

	<!-- breadcrumb start-->
	<!--================End Home Banner Area =================-->

	<!--================Single Product Area =================-->
	<div class="product_image_area section_padding">
		<div class="container">
			<div class="row s_product_inner justify-content-between">
				<div class="col-lg-7 col-xl-7">
					<div class="product_slider_img">
						<!--							/// bỏ này vào mất 50% ảnh-->
						<div id="vertical">
							<!--							<div id="">-->
							<div style="height: auto !important;"
								th:attr="data-thumb=@{*{thumbnail}}">
								<img th:src="@{*{thumbnail}}" />
							</div>

							<div th:each="img : ${images}"
								th:attr="data-thumb=@{${img.image}}">
								<img th:src="@{${img.image}}" />
							</div>

						</div>



					</div>
					<div th:if="${isDiscount}" class="container-fluid mt-5"
						style="background-image: url('/assets/user/teample/img/sale.jpg'); height: 50px; border-radius: 5px; background-size: cover;">
						<div class="d-flex align-items-center pt-2">
							<h3 style="font-weight: bolder; display: inline-block;">Flash
								Sale</h3>
							&emsp;&emsp;
							<h5 style="display: inline-block; color: white;" id="countdown"></h5>
						</div>
					</div>
				</div>

				<div class="col-lg-5 col-xl-4">
					<div class="s_product_text">
						<h1 style="font-weight: bold;">[[*{name}]]</h1>
						<ul class="list">
							<li><span>Category</span> : [[*{categoryDdetail.name}]]</li>
							<li><span>Color</span> : [[*{color.name}]]</a></li>

							<h3>[[${datesale}]]</h3>



							<div th:if="*{isSale ==true}">
								<h4 style="text-decoration-line: line-through; margin: 0px;">
									[[${#numbers.formatDecimal(item.price, 0, 'COMMA', 0,
									'POINT')}]]₫</h4>
								<h2 style="display: inline-block; margin-right: 5px;">
									[[${#numbers.formatDecimal(item.discountPrice, 0, 'COMMA', 0,
									'POINT')}]]₫</h2>

								<span class="badge badge-warning"
									style="color: red; font-weight: 600">[[${#numbers.formatDecimal((100-(item.discountPrice
									/ item.price) * 100), 0, 'COMMA', 0, 'POINT')}]]%</span>
							</div>
							<div th:unless="*{isSale ==true}">
								<h2 class="price">[[${#numbers.formatDecimal(item.price, 0,
									'COMMA', 0,'POINT')}]]₫</h2>
							</div>
							<nav class="radio-button">
								<div th:each="a: ${sizes}" th:if="${a.size.status}">
									<input type="radio" th:id="${a.size.id}" name="x"
										th:attr="ng-click=@{|sizeClick(${a.quantity});sizeid(${a.size.id})|}"
										th:value="${a.quantity}" /> <label th:for="${a.size.id}">[[${a.size.name}]]</label>
								</div>
							</nav>
							<p>Số lượng sản phẩm: {{soluong}}</p>
							<h2 class="soluong" style="display: none;">[[${soluong}]]</h2>

							<!-- .container-outer -->

						</ul>

						<p>[[*{description.description}]]</p>
						<div
							class="card_area d-flex justify-content-between align-items-center">
							<div class="product_count">
								<span class="inumber-decrement"> <i class="ti-minus"></i></span>
								<input class="input-number" type="number" value="1" min="0"
									ng-model="cart.qtyyy"> <span class="number-increment">
									<i class="ti-plus"></i>
								</span>
							</div>
							<a th:attr="ng-click=@{|cart.add(*{id})|}" class="btn_3">add
								to cart</a> </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item"><a class="nav-link" id="home-tab"
					data-toggle="tab" href="#home" role="tab" aria-controls="home"
					aria-selected="true">Mô tả</a></li>

				<li class="nav-item"><a class="nav-link active" id="review-tab"
					data-toggle="tab" href="#review" role="tab" aria-controls="review"
					aria-selected="false">Đánh giá</a></li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel"
					aria-labelledby="home-tab">
					<div>
						<table class="table">
							<tbody>
								<tr>
									<td>Name</td>
									<td>[[*{name}]]</td>
								</tr>
								<tr>
									<td>Manufacture</td>
									<td>[[*{description.manufacture}]]</td>
								</tr>
								<tr>
									<td>Technology</td>
									<td>[[*{description.technology}]]</td>
								</tr>
								<tr>
									<td>Weight</td>
									<td>[[*{description.weight}]]</td>
								</tr>
								<tr>
									<td>Material</td>
									<td>[[*{description.material}]]</td>
								</tr>



							</tbody>
						</table>
					</div>
					<p style="margin: 40px; margin-top: 20px; font-size: 18px;">[[*{description.description}]]</p>
				</div>


				<div class="tab-pane fade	 show active" id="review" role="tabpanel"
					aria-labelledby="review-tab">
					<div class="row">
						<div class="col-lg-12">
							<div class="row total_rate">
								<div class="col-6">
									<div class="box_total">
										<h5>Overall</h5>
										<h4 th:if="${rating}"
											th:text="${#numbers.formatDecimal(rating,0,1)}"></h4>
										<h4 th:unless="${rating}">0</h4>
										<h6>([[${ratingTotal}]] Reviews)</h6>
									</div>
								</div>
								<div class="col-6">
									<div class="rating_list">
										<h3>Based on [[${ratingTotal}]] Reviews</h3>
										<ul class="list">
											<li><a href="#"><h5
														style="width: 55px; display: inline-block; color: #797979;">5
														Star</h5> <i style="color: rgb(246, 206, 88);"
													class="fa fa-star"></i> <i
													style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
													style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
													style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
													style="color: rgb(246, 206, 88);" class="fa fa-star"></i>

													<h5 th:if="${rating}"
														style="margin-left: 10px; width: 110px; display: inline-block; color: #797979;">[[${rating5}]]
														Reviews</h5>
													<h5 th:unless="${rating5}"
														style="margin-left: 10px; width: 110px; display: inline-block; color: #797979;">0
														Reviews</h5> </a></li>
											<li><a href="#"><h5
														style="width: 55px; display: inline-block; color: #797979;">4
														Star</h5> <i style="color: rgb(246, 206, 88);"
													class="fa fa-star"></i> <i
													style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
													style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
													style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
													style="color: 797979;" class="fa fa-star"></i>
													<h5 th:if="${rating4}"
														style="margin-left: 10px; width: 110px; display: inline-block; color: #797979;">[[${rating4}]]
														Reviews</h5>
													<h5 th:unless="${rating4}"
														style="margin-left: 10px; width: 110px; display: inline-block; color: #797979;">0
														Reviews</h5> </a></li>
											<li><a href="#"><h5
														style="width: 55px; display: inline-block; color: #797979;">3
														Star</h5> <i style="color: rgb(246, 206, 88);"
													class="fa fa-star"></i> <i
													style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
													style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
													style="color: 797979;" class="fa fa-star"></i> <i
													style="color: 797979;" class="fa fa-star"></i>
													<h5 th:if="${rating3}"
														style="margin-left: 11px; width: 110px; display: inline-block; color: #797979;">[[${rating3}]]
														Reviews</h5>
													<h5 th:unless="${rating3}"
														style="margin-left: 11px; width: 110px; display: inline-block; color: #797979;">0
														Reviews</h5> </a></li>
											<li><a href="#"><h5
														style="width: 55px; display: inline-block; color: #797979;">2
														Star</h5> <i style="color: rgb(246, 206, 88);"
													class="fa fa-star"></i> <i
													style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
													style="color: 797979;" class="fa fa-star"></i> <i
													style="color: 797979;" class="fa fa-star"></i> <i
													style="color: 797979;" class="fa fa-star"></i>
													<h5 th:if="${rating2}"
														style="margin-left: 10px; width: 110px; display: inline-block; color: #797979;">[[${rating2}]]
														Reviews</h5>
													<h5 th:unless="${rating2}"
														style="margin-left: 10px; width: 110px; display: inline-block; color: #797979;">0
														Reviews</h5> </a></li>
											<li><a href="#"><h5
														style="width: 55px; display: inline-block; color: #797979;">1
														Star</h5> <i style="color: rgb(246, 206, 88);"
													class="fa fa-star"></i> <i style="color: 797979;"
													class="fa fa-star"></i> <i style="color: 797979;"
													class="fa fa-star"></i> <i style="color: 797979;"
													class="fa fa-star"></i> <i style="color: 797979;"
													class="fa fa-star"></i>
													<h5 th:if="${rating1}"
														style="margin-left: 10px; width: 110px; display: inline-block; color: #797979;">[[${rating1}]]
														Reviews</h5>
													<h5 th:unless="${rating1}"
														style="margin-left: 10px; width: 110px; display: inline-block; color: #797979;">0
														Reviews</h5> </a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="review_list">
								<div th:each="review : ${reviews}" class="review_item">
									<div class="media">
										<div class="d-flex">
											<img class="rounded-circle" style="width: 50px;"
												th:src="@{|${review.User.image}|}" alt="" />
										</div>
										<div class="media-body">
											<h4>[[${review.User.fullName}]]</h4>

											<i th:if="${review.rating >=1}"
												style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
												th:if="${review.rating >=2}"
												style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
												th:if="${review.rating >=3}"
												style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
												th:if="${review.rating >=4}"
												style="color: rgb(246, 206, 88);" class="fa fa-star"></i> <i
												th:if="${review.rating ==5}"
												style="color: rgb(246, 206, 88);" class="fa fa-star"></i>

											<p>[[${review.dateReview}]]</p>
										</div>
									</div>
									<div th:if="${review.image != null}">
										<img style="width: 100px; margin-left: 50px; margin-top: 20px"
											th:src="@{|${review.image}|}" alt="" />
									</div>
									<p style="margin-left: 50px;">[[${review.descriptionReview}]]</p>
								</div>

								<form id="form" th:action="@{|product-detail|}" method="get">


									<div class="col-lg-12">
										<div class="pageination">
											<nav aria-label="Page navigation example">
												<ul class="pagination justify-content-center "
													id="pagination"></ul>
											</nav>
											<input id="page" name="p" type="hidden">
										</div>
									</div>
									<input th:value="*{id}" name="product-id" type="hidden">
								</form>
							</div>

						</div>


					</div>
				</div>
			</div>
		</div>
	</section>

	<!--================End Product Description Area =================-->

	<section class="product_list best_seller">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="section_tittle text-center">
						<h4 style="font-weight: bold">
							Sản phẩm cùng loại <span></span>
						</h4>
					</div>
				</div>
			</div>
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-12">
					<div class="best_product_slider owl-carousel">
						<div th:each="p:*{categoryDdetail.product}"
							class="single_product_item">

							<a th:href="@{|/user/product-detail?product-id=${p.id}|}">
								<div style="background-color: white;" class="rounded-top">

									<img class=" px-4 pt-2 pb-0" th:src="@{|${p.thumbnail}|}"
										style="height: 280px;">

								</div>
								<div class="single_product_text px-4 rounded-bottom">
									<h4>[[${p.name}]]</h4>
									<h6>Màu: [[${p.color.name}]]</h6>
									<h6>
										Size: <span th:each="itemsize : ${p.productDetails}"
											class="size">[[${itemsize.size.name}]]</span>
									</h6>

									<div th:if="${p.isSale == true}">
										<h4 style="text-decoration-line: line-through; margin: 0px;">
											[[${#numbers.formatDecimal(p.price, 0, 'COMMA', 0,
											'POINT')}]]₫</h4>
										<h3 style="display: inline-block; margin-right: 5px;">
											[[${#numbers.formatDecimal(p.discountPrice, 0, 'COMMA', 0,
											'POINT')}]]₫</h3>

										<span class="badge badge-warning"
											style="color: red; font-weight: 600">[[${#numbers.formatDecimal((100-(p.discountPrice
											/ p.price) * 100), 0, 'COMMA', 0, 'POINT')}]]%</span>
									</div>

									<div th:unless="${p.isSale ==true}">
										<h3 class="price">[[${#numbers.formatDecimal(p.price, 0,
											'COMMA', 0,'POINT')}]]₫</h3>
									</div>
								</div>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- product_list part end-->

	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			window.pagObj = $('#pagination').twbsPagination({
				totalPages : /*[[${reviews.totalPages}]]*/'default',
				visiblePages : 5,
				startPage : /*[[${reviews.number+1}]]*/'default',
				onPageClick : function(event, page) {
					console.info(page + ' (from options)');
					if (page != /*[[${reviews.number+1}]]*/'default') {
						$('#page').val(parseInt(page - 1));
						$('#form').submit();
					}
				}
			}).on('page', function(event, page) {
				console.info(page + ' (from event listening)');
			});
		});
		/*]]>*/
	</script>



</main>