<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<div class="row"></div>

			<div class="row">
				<div class="form-group col-sm-6">
					Search: <input ng-model="searchText.$" class="form-control">
				</div>	
			</div>
			<div class="table-responsive">

				<table
						class="table ">
					<thead class="bg-primary-light" style=" text-transform: uppercase;">
						<tr>
							<th style="color:white;font-weight: bolder;" ng-click="toggleSort('fullName')">Họ và tên <span
								ng-show="isSortedBy('fullName')"
								ng-class="getSortIconClass('fullName')"></span>
							</th>
							<th style="color:white;font-weight: bold;" ng-repeat="role in roles" class="text-center">{{role.name}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="acc in pager.items">
						<td>{{acc.fullName}}</td>
						<th ng-repeat="role in roles" class="text-center"><input
							style="" ng-checked="authority_of(acc, role)"
							ng-click="authority_changed(acc, role)" type="checkbox">
						</th>
					</tr>
					</tbody>
				</table>
				</div>
				<div class="row">
		<div class="col-4"></div>
		<div class="bootstrap-pagination col-4 text-center" style="overflow: hidden;">
			<nav>
				<ul class="pagination">
					<li class="page-item"><a class="page-link" href=""
						ng-click="pager.first()">Đầu</a></li>
					<li class="page-item"><a class="page-link" href=""
						ng-click="pager.prev()">Trước</a></li>
					<li class="page-item"><a class="page-link" href="">{{pager.page
							+ 1}} / {{pager.count}}</a></li>


					<li class="page-item"><a class="page-link" href=""
						ng-click="pager.next()">Tiếp</a></li>
					<li class="page-item"><a class="page-link" href=""
						ng-click="pager.last()">Cuối</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-4"></div>
		</div>
				
				</div>
			</div>
		</div>


