<div class="panel panel-default">

<div class="container-fluid" >
<div class="card">
				<div class="card-body">
	<div class="panel-heading">AUTHORIZING</div>
	<table class="table table-border table-striped table-bordered">
		<thead class="bg-success" style="font-variant: small-caps;">
			<tr>
				<th></th>
				<th ng-repeat="role in roles" class="text-center">{{role.name}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="acc in pager.admins">
				<td>{{acc.fullName}}</td>
				<th ng-repeat="role in roles" class="text-center">
					<input style="" ng-checked="authority_of(acc, role)" ng-click="authority_changed(acc, role)" type="checkbox">
				
				</th>
				
			</tr>
			
		</tbody>
		
	</table>
	
	<div class="bootstrap-pagination" style="text-align: center;">
                                    <nav>
          <ul class="pagination  mt-3" style="display: flex; justify-content: center;">
            <li class="page-item"><a class="page-link" href="" ng-click="pager.first()">First</a></li>
            <li class="page-item"><a class="page-link" href="" ng-click="pager.prev()">Previous</a></li>
            <li class="page-item"><a class="page-link" href="">{{pager.page + 1}} of {{pager.count}}</a></li>
            <li class="page-item"><a class="page-link" href="" ng-click="pager.next()">Next</a></li>
            <li class="page-item"><a class="page-link" href="" ng-click="pager.last()">First</a></li>
          </ul>
        </nav>
                                </div>
  </div>
  </div>
    </div>
      </div>