<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<div class="row"></div>

			<div class="row">
				<div class="form-group col-sm-6">
					Search: <input ng-model="searchText.$" class="form-control">
				</div>	
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered zero-configuration">
					<thead class="bg-primary-light" style=" text-transform: uppercase;">
						<tr>
							<th style="color:white;font-weight: bolder;" ng-click="toggleSort('fullName')">Name <span
								ng-show="isSortedBy('fullName')"
								ng-class="getSortIconClass('fullName')"></span>
							</th>
							<th style="color:white;font-weight: bold;" ng-repeat="role in roles" class="text-center">{{role.name}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="acc in pager.items">
						<td>{{acc.fullName}}</td>
						<th ng-repeat="role in roles" class="text-center"><input
							style="" ng-checked="authority_of(acc, role)"
							ng-click="authority_changed(acc, role)" type="checkbox">
						</th>
					</tr>
					</tbody>
				</table>
				<div class="bootstrap-pagination text-center">
					<nav>
						<ul class="pagination">
							<li class="page-item"><a class="page-link" href=""
								ng-click="pager.first()">First</a></li>
							<li class="page-item"><a class="page-link" href=""
								ng-click="pager.prev()">Previous</a></li>
							<li class="page-item"><a class="page-link" href="">{{pager.page
									+ 1}} of {{pager.count}}</a></li>
							<li class="page-item"><a class="page-link" href=""
								ng-click="pager.next()">Next</a></li>
							<li class="page-item"><a class="page-link" href=""
								ng-click="pager.last()">First</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

