
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{titleModel}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-validation">
                    <form class="form-valide" action="#" method="post">

                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label">Tên danh mục<span
                                    class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <input ng-model="formCategory.name" type="text" class="form-control "
                                       placeholder="Áo,quần,trang sức,....">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-4 col-form-label" for="val-username">Trạng
                                thái <span class="text-danger">*</span>
                            </label>
                            <div class="form-group col-lg-6">

                                    <label class="radio-inline"> <input
                                            ng-model="formCategory.status" ng-value="true" name="available"
                                            type="radio">Yes
                                    </label> <label class="radio-inline"> <input
                                        ng-model="formCategory.status" ng-value="false" name="available"
                                        type="radio">No
                                </label>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="createCategory()" type="button" data-dismiss="modal"  ng-disabled="formCategory.id"" class="btn btn-primary">Thêm</button>
                <button type="button" ng-click="updateCategory()" type="button" data-dismiss="modal"  ng-disabled="!formCategory.id" class="btn btn-primary">Sửa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>