<!--::footer_part start::-->
<footer class="footer_part">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                    <h4>Sản Phẩm Nổi Bật</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Quần Nam</a></li>
                        <li><a href="#">Quần Nữ</a></li>
                        <li><a href="#">Áo Nam</a></li>
                        <li><a href="#">Áo Nữ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                    <h4>Liên Kết Nhanh</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Giới Thiệu</a></li>
                        <li><a href="#">Chính Sách Đổi Trả</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                        <li><a href="#">Điều Khoản Dịch Vụ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                    <h4>Tính Năng</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Ưu Đãi Hấp Dẫn</a></li>
                        <li><a href="#">Bản Tin Thời Trang</a></li>
                        <li><a href="#">Bảo Mật Thông Tin</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single_footer_part">
                    <h4>Liên Hệ</h4>
                    <p>Địa chỉ của bạn<br> Số điện thoại: +84 123 456 789</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="copyright_text">
                        <p>Bản quyền &copy;<script>document.write(new Date().getFullYear());</script> Bảo lưu mọi quyền | Thiết kế <i class="ti-heart" aria-hidden="true"></i> <a href="https://yourwebsite.com" target="_blank">ELNE</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer_icon social_icon">
                        <ul class="list-unstyled">
                            <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--::footer_part end::-->
