<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/index :: dynamic(~{::main})}">
<main>
	<section>

		<HR>
		</HR>
		<h1 style="text-align: center; padding: 10px; margin-top: 100px; font-weight:bolder;">
			Aranoz.
		</h1>
		<div class="container  d-flex justify-content-center ">
			<div class="row d-flex justify-content-center">
				<img src="/assets/user/user/image/blog.png " alt=""
					style="width: 900px; margin: 20px;">
				<h3 style="margin:15px;font-weight:bold;">NỀN TẢNG THỜI TRANG ĐỘC ĐÁO</h3>
				<p class="text-center " style="max-width: 1000px; font-size: 17px;">Chào
					mừng bạn đến với Aranoz - một không gian mua sắm tươi mới, nơi
					chúng tôi mang đến cho bạn trải nghiệm mua sắm thời trang không
					giới hạn và độc đáo. Với sự tiện lợi của mua sắm trực tuyến, chúng
					tôi đã xây dựng nên một nền tảng mua sắm độc đáo, nơi bạn có thể dễ
					dàng khám phá và đắm chìm trong thế giới đa dạng của thời trang.</p>
				<h3 style="margin:15px;font-weight:bold;">BỘ SƯU TẬP THỜI TRANG ĐA DẠNG</h3>
				<p class="text-center " style="max-width: 1000px; font-size: 17px;">Chúng
					tôi tự hào giới thiệu bộ sưu tập đồng đội quần áo đa dạng, từ những
					chiếc áo phông thoải mái đến những bộ váy thanh lịch, đảm bảo đáp
					ứng mọi nhu cầu phong cách của bạn. Với sự chú trọng vào chất lượng
					và sự đổi mới, chúng tôi cam kết mang đến cho bạn những sản phẩm
					thời trang hiện đại và phong cách.</p>
				<h3 style="margin:15px;font-weight:bold;">NƠI GẶP GỠ NHỮNG NGƯỜI CÙNG ĐAM MÊ</h3>
				<p class="text-center " style="max-width: 1000px; font-size: 17px;">Tại
					trang web của chúng tôi không chỉ là một nơi để mua sắm, mà còn là
					một cộng đồng nơi bạn có thể chia sẻ đam mê với những người yêu
					thời trang khác. Hãy tham gia cùng chúng tôi trong hành trình khám
					phá xu hướng mới, thảo luận về phong cách và tìm kiếm những bí
					quyết thời trang thông qua các bài viết và sự kiện đặc biệt.</p>
				<h3 style="margin:15px;font-weight:bold;">HÃY TẠO NÊN CÁI TÔI RIÊNG BIỆT</h3>
				<p class="text-center " style="max-width: 1000px; font-size: 17px;">Chúng
					tôi hiểu rằng thời trang không chỉ là việc mặc quần áo, mà còn là
					cách bạn thể hiện bản thân và tạo nên cái tôi riêng. Hãy để chúng
					tôi hỗ trợ bạn trên hành trình thú vị này, tạo nên những khoảnh
					khắc thời trang đáng nhớ và làm cho cuộc sống của bạn trở nên phong
					cách hơn. Cảm ơn bạn đã chọn Aranoz để thực hiện những ước mơ thời
					trang của bạn!</p>


			</div>

		</div>



		</div>


	</section>
</main>